.counter {
  margin: 0.2rem;

    h2 {
    background: #272727;
    color: #fff;
    padding: 1.5rem;

    font: 2rem 'Roboto', sans-serif;
  }

  P {
    background: #272727;
    color: #fff;
    
    font: 1rem 'Open Sans', sans-serif;
    padding-bottom: 0.9rem;
  }
}