.counter {
  margin: 0.2rem;
  flex-wrap: wrap;
  background: #272727;
  color: #fff;
  justify-content: center;
  margin-right: 0;

    h2 {
    
    padding: 1.5rem;

    font: 2rem 'Roboto', sans-serif;
    text-align: center;
  }

  p {
    font: 1rem 'Open Sans', sans-serif;
    padding-bottom: 0.9rem;
  }
}

.contador {
  display: flex;
  margin: auto;
}