* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #fff;
}

.content {
  display:flex;
  margin: auto;
  margin-top: 2.9rem;
  
  .contador {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .form {
    display:block;
    align-items: left;
    margin-left: 2rem;
   
    h2 {
      text-align: left;
    }

    span {
      display: block;
   
    }
  }
}
/* font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; */