.header {

    h1 {
      text-align: center;
      font: 900 5rem 'Roboto', sans-serif;
      margin-top: 2rem;

      span {
        color: #B70000;
      }
    }

    p {
      text-align: center;
      font: 600 1.8rem 'Open Sans', sans-serif;
    }
}
