img {
  display: flex;
  margin: 2rem auto 0 auto;
  width: calc(100vw - 85%);

}

h1 {
  text-align: center;
  font: 900 5rem 'Roboto', sans-serif;
  margin-top: 0.5rem;

  span {
    color: #B70000;
  }
}

p {
  text-align: center;
  font: 600 1.8rem 'Open Sans', sans-serif;
}
