input {
  padding: 0.5rem;
  margin-top: 0.9rem;
  border-color: #B70000;

  &:hover {
    opacity: 0.8;
  }
}

button {
  padding: 0.5rem;
  margin-left: 0.4rem;
  width: 6rem;
  cursor: pointer;
  background: #B70000;
  color: #fff;
  border-radius: 0.2rem;
  border-color: #B70000;
 
  &:hover {
    opacity: 0.7;
  } 
}
