.content {
  display:flex;
  margin: auto;
  margin-top: 2.9rem;
  align-items: center;
  height: calc(100vh - 50%);

    .contador {
      text-align: center;
    }
  
 
  .form {
    
    margin-right: auto;

    h2 {
      text-align: left;
    }

    span {
      display: block;
    }
  }
}

.box {
  width: 2%;
  float: left;
  height: 150px;
  margin-left: 1%;
 }
 
 .linha-vertical {
  border-left: 2px solid;
  box-sizing: border-box;
 }